@model IEnumerable<R10.Models.Test_DateTime2_GetDate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_PK_not_seed_nullable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_datetime2_GetDate_nullable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments_nulable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_PK_not_seed_nullable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_datetime2_GetDate_nullable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments_nulable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_PK_not_seed_nullable }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id_PK_not_seed_nullable }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_PK_not_seed_nullable })
        </td>
    </tr>
}

</table>
